<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">

        <div id="firstContent" class ="content firstContent">
            <div class="logoCelular">
                
            </div>
            <div  id="login">
                <h1 >LOGIN</h1>
                <form action="/login" method="POST" class="form" id="loginForm">
                    <input class="inputLogin" type="email" name="email" placeholder="Email" required="required"/>
                    <input class="inputLogin" type="password" name="senha" placeholder="Senha" required="required"/>
                    <div class="divBtn">
                        <input class="btn" id="btn" type="submit" name="entrar" value="ENTRAR"/>
                    </div>
                </form>
        </div>
    </div>
    <div class="logoDesktop">
        <img src="/imagens/João.png" id="logo"/>
    </div>

</body>
</html>

