<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota fiscal</title>
    <link rel="stylesheet" href="/css/notaFiscal.css">
</head>
<body>
<header>
    <img src="/imagens/João.png" id="logo"/>
</header>
    <main>
        

       
            <div id="pedidos" >
                <h1>Pedido realizado com sucesso, {{this.resultado.nome}}!</h1>
                <p>Massa: {{this.resultado.massa}}</p>
                <p>Borda: {{this.resultado.borda}}</p>
                <p>Sabores: {{this.resultado.sabores}}</p>
                <p>Você poderá retirar na Rua Guilherme Lahm, 123 em 1 hora</p>
                <p>Telefone: 4002-8922</p>

                
            </div>
            
        
    </main>
    
</body>
</html>